<div class="artist">
	<% if(shot.project){ %>
		<a href="/<%= shot.owner.link() %>"><img src="https://avatars2.githubusercontent.com/u/458714?v=3&s=40" /><%= shot.owner.fullName() %></a> für <a href="<%= shot.project.url() %>"><%= shot.project.name %></a>
	<% } else { %>
		<a href="/<%= shot.owner.link() %>"><img src="https://avatars2.githubusercontent.com/u/458714?v=3&s=40" /><%= shot.owner.fullName() %></a>
	<% } %>
</div>
<div class="box">
	<a href="shot/<%=shot.id%>-<%=shot.titleAsUrl()%>">
		<% if('youtube' === shot.type){ %>
			<img src="http://img.youtube.com/vi/<%= shot.ref %>/0.jpg" />
		<% } else if('vimeo' === shot.type){ %>
			<img src="<%= shot.ref2 %>" />
		<% } else { %>
			<img src="https://d13yacurqjgara.cloudfront.net/users/214033/screenshots/1687568/phone_suite4_teaser.png" />
		<% } %>
		<h5><%= shot.title %></h5>
		<div class="clearfix">
			<div class="timestamp"><%= shot.createdAtFormated() %></div>
			<div class="likes"><%= shot.likes.length %></div>
			<div class="comments"><%= shot.comments.length %></div>
		</div>
		<div class="reveal">
			<h5><%= shot.title %></h5>
			<p><%= shot.description %></p>
		</div>
	</a>
</div>
